{% extends "main.html" %}

{% block content %}
<div class="inform-title">
    <h1>교환학생 프로그램</h1>
</div>

<div class="inform-text">
    <h3>개요</h3>
    <ul>
        <li>
해외파견 프로그램이란 본교와 자매결연이 체결된 외국대학 및 기관에 일정기간 파견되어 취득한 학점을 본교에서 인정받는 프로그램으로 2016년 4월 현재 60개국 436개 대학 및 기관과 자매결연을 체결하고 있음</li>
        <li>
본교와 교환학생 교류협정을 체결한 자매대학에 상호교환의 조건으로 일정기간 파견되어 취득한 학점을 본교 학점으로 인정 받는 프로그램(자매대학 Tuition 면제)</li>
    </ul>
</div>

<div class="inform-list">
    <h3>파견국가(2017학년도 1학기 기준)</h3>
    <form id="form-id" method="post">
        <ul>
            <li>
                <input type="hidden" value="100" name="var"/>
                <a href="100/" onclick="document.getElementById('form-id').submit();">미주권</a> : 8개 대학
            </li>
            <li>
                <input type="hidden" value="200" name="var"/>
                <a href="200/" onclick="document.getElementById('form-id').submit();">유럽권</a> : 46개 대학
            </li>
            <li>
                <input type="hidden" value="300" name="var"/>
                <a href="300/" onclick="document.getElementById('form-id').submit();">호주</a> : 2개 대학
            </li>
            <li>
                <input type="hidden" value="400" name="var"/>
                <a href="400/" onclick="document.getElementById('form-id').submit();">일본</a> : 13개 대학
            </li>
            <li>
                <input type="hidden" value="500" name="var"/>
                <a href="500/" onclick="document.getElementById('form-id').submit();">중국어권</a> : 84개 대학
            </li>
            <li>
                <input type="hidden" value="600" name="var"/>
                <a href="600/" onclick="document.getElementById('form-id').submit();">기타 아시아권</a> : 5개 대학
            </li>
        </ul>
    </form>
</div>

<div class="inform-text">
    <h3>공통정보 / 유의사항</h3>
    <ul>
        <li>ㅁㄴ이ㅏ러ㅓㄴㅇㅁㄹ</li>
    </ul>
</div>
{% endblock %}