{% extends 'inform/base.html' %}

{% block inside %}
<div class="container">	
    <h2 class="page_header">파견학교목록</h1>
    <a href="../">뒤로</a><hr>

	<div class="special-qualification: section">
		<div class="qualification">
            <h3>대상학교</h3>
            <div class="table-responsive">
                <table class="table table-striped" width="80%">
                {% for datum in data %}
                <thead>
                    <tr>
                        {% if datum.uni_nation %}
                        <th>국가</th>
                        {% endif %}
                        
                        {% if datum.uni_location %}
                        <th>지역</th>
                        {% endif %}
                        
                        <th>학교명</th>
                        
                        {% if datum.uni_language %}
                        <th>어학조건</th>
                        {% endif %}
                        
                        <th>선발인원</th>
                        <th>파견학기</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% if datum.uni_nation %}
                        <td>{{ datum.uni_nation }}</td>
                        {% endif %}
                        
                        {% if datum.uni_location %}
                        <td>{{ datum.uni_location }}</td>
                        {% endif %}
                        
                        <form id="form-id" method="post">
                            <input type="hidden" value="{{ datum.uni_number }}" name="var"/>
                            <td><a href="{{ datum.uni_number }}/" onclick="document.getElementById('form-id').submit();">{{ datum.uni_name }}</a></td>
                        </form>
                        
                        {% if datum.uni_language %}
                        <td>{{ datum.uni_language }}</td>
                        {% endif %}
                        
                        <td>{{ datum.uni_people }}</td>
                        <td>{{ datum.uni_term }}</td>
                    </tr>
                </tbody>
                {% endfor %}
                </table>
            </div>
	    </div>				
	</div><!-- educational-background -->	  
	
	<div class="special-qualification: section">
		<div class="qualification">
            <br/>
            <h3><a target="_blank" href="https://drive.google.com/open?id=0B6a7epv6o3duczJIM04ySmVERG8">모집요강</a>(자료출처 - 건국대학교 국제처)</h3>
        </div>				
    </div><!-- educational-background -->	  		
</div>
{% endblock %}