{% extends 'inform/base.html' %}

{% block inside %}
    <div class="container">
    
        <h2 class="page_header">학교상세정보</h2>
        <a href="../">뒤로</a><hr>
        
        {% for datum in data %}
        <div class="special-qualification: section">
            <div class="qualification">
                <h2><img src="{{ datum.uni_logo }}" width="100" height="100">{{ datum.uni_name }}</h2>
                    
                <div class="inform_map" id="map" style="float: left; margin-right: 10px;">
                    <script>
                        function initMap() {
                            var loc = {{ datum.uni_map }};
                            var map = new google.maps.Map(document.getElementById('map'), {
                              zoom: 17,
                              center: loc
                            });
                            var marker = new google.maps.Marker({
                              position: loc,
                              map: map
                            });
                        }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1nft7nPUaWby9B8u8UlL1iZjQ20_5tq8&callback=initMap">
                    </script>
                </div>
                    
                <div style="float: left;">
                    <br/>
                    <table class="table table-hover" width="100%" height="30%">
                        <tr>
                            <th>주소</th>
                            <td>{{ datum.uni_address }}</td>
                        </tr>
                        <tr>
                            <th>링크</th>
                            <td><a target="_black" href="{{ datum.uni_site }}">{{ datum.uni_site }}</a></td>
                        </tr>
                        {% if datum.uni_qualification %}
                        <tr>
                            <th>파견조건</th>
                            <td>{{ datum.uni_qualification }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                
                <div style="clear:both;"></div>
            </div>
        </div>    
            
        <div class="special-qualification: section">
            <div class="qualification">
                {% if datum.uni_major %}
                <div class="inform_text">
                    <br/>
                    <h3>주요전공</h3>
                    <p>{{ datum.uni_major }}</p>
                </div>
                {% endif %}
                
                <div class="inform_text">
                    <br/>
                    <h3>기타 / 비고<small>(<a href="./mod/">수정</a> / <a href="./log/">로그</a>)</small></h3>
                    {% for etcs in etc|slice:":1" %}
                    <p>({{ etcs.author }}에 의해 마지막으로 수정됨, {{ etcs.created_date }})</p>
                    <br/>
                    <pre>{{ etcs.text }}</pre>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}    
{% endblock %}  
    
