{% extends 'base.html' %}
{% block content %}
<section class="post1">
	<div class="container">
		<div class="category-info">	
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<div class="accordion">
					<!-- panel-group -->
					<div class="panel-group" id="accordion">
						<!-- panel -->
						<div class="panel panel-default panel-faq">
							<!-- panel-heading -->
							<div class="panel-heading">
								<div  class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#accordion-one">
										<h4>Categories<span class="pull-right"><i class="fa fa-minus"></i></span></h4>
									</a>
								</div>
							</div><!-- panel-heading -->
							<div id="accordion-one" class="panel-collapse collapse in">
								<!-- panel-body -->
									<div class="panel-body">
										<h5><a href="categories-main.html"><i class="fa fa-caret-down"></i> All Categories</a></h5>
										<a href="#"><i class="icofont icofont-man-in-glasses"></i>Engineer/Architects</a>
										<ul>
											<li><a href="#">Software <span>(129)</span></a></li>
											<li><a href="#">Architecture <span>(8342)</span></a></li>
											<li><a href="#">UI & UX Designer <span>(782)</span></a></li>
											<li><a href="#">Telecommunication <span>(5247)</span></a></li>
											<li><a href="#">Civil Engineer <span>(634)</span></a></li>
											<li><a href="#">Chemical Engineer <span>(453)</span></a></li>
											<li><a href="#">Program Development <span>(7986)</span></a></li>
											<li><a href="#">Mechanical Engineer <span>(742)</span></a></li>
											<li><a href="#">Industrial Engineer <span>(149)</span></a></li>
										</ul>
									</div><!-- panel-body -->
								</div>
							</div><!-- panel -->
						</div><!-- panel-group -->
					</div>
				</div><!-- accordion-->
			 	<div class="table">
				</div>
				<!-- recommended-ads -->
				<div class="col-sm-8 col-md-7">		
					<table cellspacing=1 width=800 border=1>
						<tr>
							<th>제목</th>
							<th>이름</th>
							<th>날짜</th>
							</tr>
						{% for post in posts %}
						<tr>
							<td><h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1></td>
							<td>{{ post.author }}</td> 
							<td>{{ post.published_date }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div><!-- recommended-ads -->
		</div>	
		</div>
	</div><!-- container -->
</section><!-- main -->
{% endblock %}