{% extends 'base.html' %}
{% block content %}
<section class="post1">
	<div class="container">
		<div class="breadcrumb-section">
			<!-- breadcrumb -->
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>학생 게시판 </li>
			</ol><!-- breadcrumb -->						
			<h2 class="title">새 글 쓰기</h2>
		</div><!-- banner -->
			<div class="job-postdetails">
			<div class="row">	
				<div class="col-md-8">
				    <h1>New post</h1>
				    <form method="POST" class="post-form">{% csrf_token %}
				        {{ form.as_p }}
				        <button type="submit" class="save btn btn-default">Save</button>
				    </form>
				</div>
			
					<!-- quick-rules -->	
				<div class="col-md-4">
					<div class="section quick-rules">
						<h4>Quick rules</h4>
						<p class="lead">Posting an ad on <a href="#">jobs.com</a> is free! However, all ads must follow our rules:</p>
							<ul>
							<li>Make sure you post in the correct category.</li>
							<li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
							<li>Do not upload pictures with watermarks.</li>
							<li>Do not post ads containing multiple items unless it's a package deal.</li>
							<li>Do not put your email or phone numbers in the title or description.</li>
							<li>Make sure you post in the correct category.</li>
							<li>Do not post the same ad more than once or repost an ad within 48 hours.</li>
							<li>Do not upload pictures with watermarks.</li>
							<li>Do not post ads containing multiple items unless it's a package deal.</li>
						</ul>
					</div>
				</div><!-- quick-rules -->	
			</div><!-- photos-ad -->				
		</div>	
	</div><!-- container -->
</section><!-- main -->
{% endblock %}