{% extends 'users/base.html' %}

{% block content %}

	<section class="register">
		<div class="container">
			<div class="row text-center">
				<!-- user-login -->			
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="user-account job-user-account">
						<h2>Create An Account</h2>
									<form id="register" class="form-horizontal" method="post" action="{% url 'register' %}" enctype="multipart/form-data" >
									    {% csrf_token %}
                                       <div class="form-group">
                                            <label class="col-sm-3 control-label">Username</label>
                                            <div class="col-sm-6">
                                                {{ registerform.username }}
                                                <span class="field-error">
                                                {{ registerform.username.errors|striptags }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">E-Mail</label>
                                            <div class="col-sm-6">
                                                {{ registerform.email }}
                                                <span class="field-error">
                                                {{ registerform.email.errors|striptags }}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Password</label>
                                            <div class="col-sm-6">
                                                {{ registerform.password1 }}
                                                <span class="field-error">
                                                {{ registerform.password1.errors|striptags }}
                                                </span>
                                            </div>
                                        </div>   
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Password (again)</label>
                                            <div class="col-sm-6">
                                                {{ registerform.password2 }}
                                                <span class="field-error">
                                                {{ registerform.password2.errors|striptags }}
                                                </span>
                                            </div>
                                        </div>
										<button type="submit" class="btn">Registration</button>	
									</form>
					</div>
				</div><!-- user-login -->			
			</div><!-- row -->	
		</div><!-- container -->
	</section><!-- signup-page -->
{% endblock %}