{% load staticfiles %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KU환학생</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>
  
  <div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <h3>KU환학생</h3>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home_view' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'inform_index' %}">Inform</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_list' %}">Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'schedule_index' %}">Schedule</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MY</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              {% if user.is_authenticated %}                  
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
        </li>
      </ul>
      </div>
    </div>  
  

    <!-- Navigation -->
  <!--<div class="main-navbar"></div>-->
  <!--  <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" id="mainNav">-->
  <!--      <div class="container">-->
  <!--          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--              Menu <i class="fa fa-bars"></i>-->
  <!--          </button>-->
  <!--          <a class="navbar-brand" href="#">KU환학생</a>-->
  <!--          <div class="collapse navbar-collapse" id="navbarResponsive">-->
  <!--              <ul class="navbar-nav ml-auto">-->
  <!--                  <li class="nav-item">-->
  <!--                      <a class="nav-link" href="{% url 'inform_index' %}">Inform</a>-->
  <!--                  </li>-->
  <!--                  <li class="nav-item">-->
  <!--                      <a class="nav-link" href="{% url 'post_list' %}">Board</a>-->
  <!--                  </li>-->
  <!--                  <li class="nav-item ">-->
  <!--                      <a class="nav-link" href="{% url 'schedule_index' %}">Schedule</a>-->
  <!--                  </li>-->
  <!--                  <li class="nav-item dropdown">-->
  <!--                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MY</a>-->
  <!--                      <div class="dropdown-menu" aria-labelledby="dropdown01">-->
  <!--                        {% if user.is_authenticated %}                  -->
  <!--                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>-->
  <!--                          <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>-->
  <!--                        {% else %}-->
  <!--                          <a class="dropdown-item" href="{% url 'login' %}">Login</a>-->
  <!--                          <a class="dropdown-item" href="{% url 'register' %}">Register</a>-->
  <!--                        {% endif %}-->
  <!--                      </div>-->
  <!--                  </li>-->
  <!--              </ul>-->
  <!--          </div>-->
  <!--      </div>-->
  <!--  </nav>-->
  <!--</div>-->

      {% block content %}
      {% endblock content %}


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
