{% load staticfiles %}
<html>
    <head>
        <title>교환학생 일정</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="${ctx }/css/fullcalendar.css" />
        <link rel="stylesheet" type="text/css" href="${ctx }/css/fullcalendar.min.css" />
        <script type="text/javascript">

        $(function(){
            calendarEvent();
        });

        function calendarEvent(eventData){
        $("#calender").html("");
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var calendar = $('#calender').fullCalendar({
            header: {
            left: "",
            center: "title",
            //    right: "month,basicWeek,basicDay"
            right: "today prev,next"
            },
            editable: true,
            titleFormat: {
            month: "yyyy년 MMMM",
            week: "[yyyy] MMM dd일{ [yyyy] MMM dd일}",
            day: "yyyy년 MMM d일 dddd"
            },
            allDayDefault: false,
            defaultView: "month",
            editable: false,
            monthNames: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
            monthNamesShort: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
            dayNames: ["일요일","월요일","화요일","수요일","목요일","금요일","토요일"],
            dayNamesShort: ["일","월","화","수","목","금","토"],
            buttonText: {
            today : "오늘",
            month : "월별",
            week : "주별",
            day : "일별",
            },
            events : eventData,
            timeFormat : "HH:mm",
            });
        </script>
        
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">학교별 교환학생 일정</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <iframe src="https://calendar.google.com/calendar/embed?src=jeonjeyeol%40gmail.com&ctz=Asia/Seoul" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

        <div id='calendar'></div>
        
    </body>
</html>